pulp<2.8
hydra-genetics==3.0.0
pandas>=1.3.1
snakemake~=7.32
singularity==3.0.0
jinja2==3.0.1
networkx
pyyaml
drmaa==0.7.9  # if using drmaa scheduler
smart_open<7.0.0
git+https://github.com/elleira/bamsnap.git@f4bc661c4e53a6ca21537c98c4f79080d19275bf
